
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

header{
    margin-top: -2%;
}
body{
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
 
}
main{
    position: relative;
    top: 70px;
    

}
h1{
    text-align: center;
    font-size: 400%;
}
.Actividades img{
    width: 45%;
    height: 400px;
}
.Actividades article{
    width: 45%;
    text-align: center;
}
.Actividades article h3{
    color: red;
    font-size: 250%;
    font-style:oblique;
}
.Actividades article p{
    font-size: 150%;
}

.Actividades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    margin-bottom: 5%;
}
article p:first-of-type{
    color: gray;
}

@media screen and (max-width: 768px){
    body{
        width: 140%;
        font-size: 50%;
    }
    main{
        margin-bottom: 15%;
    }
    .Actividades img{
        
        height: 200px;
    }
    
    
}

