@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');



body{
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
 
}
main{
    position: relative;
    top: 70px;
    align-items: center;
    margin-bottom: 5%;

}
.card {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    height: 500px;
    margin: 0 auto;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

label {
    display: block;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    body{
        width: 140%;
        font-size: 60%;
    }
    main{
        margin-bottom: 15%;
    }
}

@media screen and (orientation: landscape) {
    body{
        font-size: 60%;
    }

    main{
        margin-bottom: 20%;
    }
  }


